/* this much part to be copied in every page */

*{
    margin-bottom: 1px;
    padding: 0;
    list-style: none;
}

.bgg{
  background-color: black;
}
body{
    padding: 9px;
    /* background-color: black; */
}

/* image sizing */
.sizing{
  width:100%; 
  height: auto;
}

.headerstyle{
    /* text-shadow: 1px 1px; */
    color: black;
    letter-spacing: 10px;
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 70px;
    line-height: 120px;
    /* font-weight: 500px; */
}

.headerstyle1{
    /* text-shadow: 1px 1px; */
    color: black;
    letter-spacing:6px;
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 30px;

}

.container12 {
    position: relative;
    text-align: center;
    /* color: white; */
  }

  .centered {
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
  /*navbar styling*/
  .customize1{
    padding:45px;
  display: flex;
  height: 4.5vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: black;
}

  .customize3214{
      padding:50px;
    display: flex;
    height: 4.5vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: black;
  }
  ul{
    display: flex;
  }
  ul li{
    position: relative;
    display: block;
    color: white;
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: #171515;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: .5s;
  }
  ul li:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    /* background: #d35400; */
    border-radius: 50%;
    transform: scale(.9);
    z-index: -1;
    transition: .5s;
  }
  ul li:nth-child(1):before{
    background:  orange;
  }
  ul li:nth-child(2):before{
    background: orange;
  }
  ul li:nth-child(3):before{
    background: orange;
  }
  ul li:nth-child(4):before{
    background: orange;
  }
  ul li:nth-child(5):before{
    background: orange;
  }
  ul li:nth-child(6):before{
    background: orange;
  }
  ul li:hover:before{
    filter: blur(3px);
    transform: scale(1.2);
    /* box-shadow: 0 0 15px #d35400; */
  }
  ul li:nth-child(1):hover:before{
    box-shadow: 0 0 15px  orange;
  }
  ul li:nth-child(2):hover:before{
    box-shadow: 0 0 15px orange;
  }
  ul li:nth-child(3):hover:before{
    box-shadow: 0 0 15px orange;
  }
  ul li:nth-child(4):hover:before{
    box-shadow: 0 0 15px orange;
  }
  ul li:nth-child(5):hover:before{
    box-shadow: 0 0 15px orange;
  }
  ul li:nth-child(6):hover:before{
    box-shadow: 0 0 15px orange;
  }
  ul li:nth-child(1):hover{
    color: orange;
    box-shadow: 0 0 15px orange;
    text-shadow: 0 0 15px orange;
  }
  ul li:nth-child(2):hover{
    color: orange;
    box-shadow: 0 0 15px orange;
    text-shadow: 0 0 15px orange;
  }
  ul li:nth-child(3):hover{
    color: orange;
    box-shadow: 0 0 15px orange;
    text-shadow: 0 0 15px orange;
  }
  ul li:nth-child(4):hover{
    color: orange;
    box-shadow: 0 0 15px orange;
    text-shadow: 0 0 15px orange;
  }
  ul li:nth-child(5):hover{
    color: orange;
    box-shadow: 0 0 15px orange;
    text-shadow: 0 0 15px orange;
  }

  ul li:nth-child(6):hover{
    color: orange;
    box-shadow: 0 0 15px orange;
    text-shadow: 0 0 15px orange;
  }

  p{
    font-family: 'Great Vibes', cursive;
    font-size: 23px;
  }

  @media screen and (max-width:1200px){

    p{
      font-size:20px;
    }
  }

  section {
    float: left;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    overflow: hidden;
    background: black;
    }

  .front, .back {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    }

    .front1, .back1 {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      }

  @media screen and (max-width:1000px){

    p{
      font-size:17px;
    }
    .sizing{
      width: 100%; 
      height: auto;
    }

    .centered {
      top: 30%;
      left: 50%;
    }
    
  }

  @media screen and (max-width:900px){
    .centered {
      top: 35%;
      left: 50%;
    }
  }

  @media screen and (max-width:800px){
    .sizing{
      width:100%; 
      height: auto;
    }
  }

  @media screen and (max-width:770px){

    section{
      padding-bottom: 550px;
    }

    .front, .back {
      top: 195px;
      }

      .front1, .back1 {
        top: 380px;
        }

    p{
      font-size:26px;
    }
  }

  @media screen and (max-width:700px){

    .centered {
      top: 35%;
      left: 50%;
    }

    .headerstyle{
      line-height:65px
    }
  }

  @media screen and (max-width:600px){

    .headerstyle{
      font-size: 30px;
      line-height:50px
    }

    .headerstyle1{
      font-size: 20px;
    }

    ul li{
      font-size: 20px;
      height: 50px;
      width: 50px;
      line-height: 50px;
    }
  }

  @media screen and (max-width:500px){
    .front, .back {
      top: 130px;
      }

      .front1, .back1 {
        top: 260px;
        }

    p{
      font-size:23px;
    }

    ul li{
      font-size: 19px;
      height: 36px;
      width: 36px;
      line-height: 37px;
      margin: 0 10px;
    }
  }

  @media screen and (max-width:400px){

    .front, .back {
      top: 50px;
      }

      .front1, .back1 {
        top: 70px;
        }

    p{
      font-size:21px;
    }

    .headerstyle{
      line-height: 40px;
    }

    ul li{
      font-size: 21px;
      height: 38px;
      width: 38px;
      line-height: 38px;
      margin: 0 7px;
    }
  }

  @media screen and (max-width:350px){

    p{
      font-size:18px;
    }
    .headerstyle{
      font-size:20px;
      line-height: 30px;

    }

    .headerstyle1{
      font-size:15px;
    }

    ul li{
      font-size: 13px;
      height: 30px;
      width: 30px;
      line-height: 31px;
      margin: 0 6px;
    }
  }

  @media screen and (max-width:300px){

    .front, .back {
      top: -20px;
      }

      .front1, .back1 {
        top: -100px;
        }

    p{
      font-size:15px;
    }

    .headerstyle{
      font-size:12px;
      line-height: 17px;
      letter-spacing: 5px;

    }

    .headerstyle1{
      font-size:8px;
    }
  }

  @media screen and (max-width:250px){

    p{
      font-size:13px;
    }
    ul li{
      font-size: 20px;
      height: 19px;
      width: 19px;
      line-height: 21px;
      margin: 0 6px;
    }
  }

  @media screen and (max-width:200px){

    p{
      font-size:8px;
    }

    h1{
      font-size: 12px;
      letter-spacing: 5px ;
      line-height:15px;

    }

    ul li{
      font-size: 15px;
      height: 12px;
      width: 12px;
      line-height: 16px;
      margin: 0 5px;
    }
  }

  @media screen and (max-width:100px){

    p{
      font-size:7px;
    }

  }

  
  h1 {
    /* font-family: 'Vidaloka', serif; */
    float: left;
    width: 100%;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 60px;
    font-size: 30px;
    position: relative;
    z-index: 3;
    }
    h1 span {
    /* font-family: 'Vidaloka', serif; */
    display: block;
    color: #000;
    font-size: 150px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 30px;
    }
    h1 a {
    color: #fff;
    font-weight: bold;
    }

    section:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    /* background-image: url("data:Simage/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23fab516' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
    z-index: 0;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    }
    h3 {
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Vidaloka', serif;
    color: #000;
    }
    .mb-5 {
    font-size: 48px;
    }
    .btn-default {
    background: white;
    color: #fff;
    font-weight: 700;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    font-size: 14px;
    }
    .card {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    border: 10px solid #fcf5d3;
    margin-bottom: 30px;
    }
    .card-01 .card-body {
    position: relative;
    padding-top: 40px;
    }
    .card-01 .badge-box {
    position: absolute;
    top: -20px;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    text-align: center;
    }
    .card-01 .badge-box i {
    background: white;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    }
    .profile-box {
    background-size: cover;
    float: left;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    position: relative;
    overflow: hidden;
    }
    .profile-box:before {
    background-color: black;
    background-image: url("https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?h=350&auto=compress&cs=tinysrgb");
    width: 100%;
    position: absolute;
    content: "";
    left: -10%;
    top: 0;
    z-index: 0;
    }
    .profile-box img {
    width: 170px;
    height: 170px;
    position: relative;
    border: 5px solid #fff;
    }
    .social-box i {
    border: 1px solid white;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    }
    .social-box i:hover {
    background: black;
    color: white;
    }
    .social-box a {
    margin: 0 5px;
    }
    
    .card-01 .height-fix .card-img-overlay {
    top: inherit;
    color: white;
    background: -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* IE10+ */
    }
    .card-01 .height-fix .fa {
    color: white;
    font-size: 22px;
    margin-right: 18px;
    }
    .card-01 .height-fix .card-img-top {
    width: auto;
    height: 100%;
    }
    
    /*flipper-card*/
    .card-flipper {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    height: 450px;
    }
      .card__front, .card__back {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      }


          .card__back .card {
    width: 100%;
    height: 450px;
    }
    
    .card__front, .card__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    }
    
    .card__front {
    background-color: black;
    }
    
    .card__back {
    background-color: #1e1e1e;
    -webkit-transform: rotateY(-180deg);
     -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    }
    
    .card-flipper.effect__hover:hover .card__front {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    }
    
    .card-flipper.effect__hover:hover .card__back {
    -webkit-transform: rotateY(0);
    -ms-transform: rotateY(0);
    transform: rotateY(0);
    }
    
    .card-flipper.effect__random.flipped .card__front {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    }
    
    .card-flipper.effect__random.flipped .card__back {
    -webkit-transform: rotateY(0);
    -ms-transform: rotateY(0);
    transform: rotateY(0);
    }
  
    /* saroj bala eidts */

      
          .back .card {
    width: 100%;
    height: 450px;
    }
    
    .front, .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    }
    
    .front {
    background-color: black;
    }
    
    .back {
    background-color: #1e1e1e;
    -webkit-transform: rotateY(-180deg);
     -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    }
    
    .card-flipper.effect__hover:hover .front {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    }
    
    .card-flipper.effect__hover:hover .back {
    -webkit-transform: rotateY(0);
    -ms-transform: rotateY(0);
    transform: rotateY(0);
    }
    
    .card-flipper.effect__random.flipped .front {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    }
    
    .card-flipper.effect__random.flipped .back {
    -webkit-transform: rotateY(0);
    -ms-transform: rotateY(0);
    transform: rotateY(0);
    }

    /* upendra edits */

    .back1 .card {
      width: 100%;
      height: 450px;
      }
      
      .front1, .back1 {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      }
      
      .front1 {
      background-color: black;
      }
      
      .back1 {
      background-color: #1e1e1e;
      -webkit-transform: rotateY(-180deg);
       -ms-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
      }
      
      .card-flipper.effect__hover:hover .front1 {
      -webkit-transform: rotateY(-180deg);
      -ms-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
      }
      
      .card-flipper.effect__hover:hover .back1 {
      -webkit-transform: rotateY(0);
      -ms-transform: rotateY(0);
      transform: rotateY(0);
      }
      
      .card-flipper.effect__random.flipped .front1 {
      -webkit-transform: rotateY(-180deg);
      -ms-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
      }
      
      .card-flipper.effect__random.flipped .back1 {
      -webkit-transform: rotateY(0);
      -ms-transform: rotateY(0);
      transform: rotateY(0);
      }

    
    