/* this much part to be copied in every page */

*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    padding: 9px;
    /* background-color: black; */
}

/* image sizing */
.sizing{
  width:1500px; 
  height: 1000px;
}

h1{
    /* text-shadow: 1px 1px; */
    color: black;
    letter-spacing: 10px;
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 70px;
    line-height: 120px;
    /* font-weight: 500px; */
}

h5{
    /* text-shadow: 1px 1px; */
    color: black;
    letter-spacing:6px;
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 30px;

}

.container {
    position: relative;
    text-align: center;
    /* color: white; */
  }

  .centered {
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
  /*navbar styling*/
  .customize1{
    padding:20px;
  display: flex;
  height: 4.5vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: black;
}

  .customize{
      padding:40px;
    display: flex;
    height: 4.5vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: black;
  }
  ul{
    display: flex;
  }
  ul li{
    position: relative;
    display: block;
    color: white;
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: #171515;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: .5s;
  }
  ul li:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    /* background: #d35400; */
    border-radius: 50%;
    transform: scale(.9);
    z-index: -1;
    transition: .5s;
  }
  ul li:nth-child(1):before{
    background:  orange;
  }
  ul li:nth-child(2):before{
    background: orange;
  }
  ul li:nth-child(3):before{
    background: orange;
  }
  ul li:nth-child(4):before{
    background: orange;
  }
  ul li:nth-child(5):before{
    background: orange;
  }
  ul li:nth-child(6):before{
    background: orange;
  }
  ul li:hover:before{
    filter: blur(3px);
    transform: scale(1.2);
    /* box-shadow: 0 0 15px #d35400; */
  }
  ul li:nth-child(1):hover:before{
    box-shadow: 0 0 15px  orange;
  }
  ul li:nth-child(2):hover:before{
    box-shadow: 0 0 15px orange;
  }
  ul li:nth-child(3):hover:before{
    box-shadow: 0 0 15px orange;
  }
  ul li:nth-child(4):hover:before{
    box-shadow: 0 0 15px orange;
  }
  ul li:nth-child(5):hover:before{
    box-shadow: 0 0 15px orange;
  }
  ul li:nth-child(6):hover:before{
    box-shadow: 0 0 15px orange;
  }
  ul li:nth-child(1):hover{
    color: orange;
    box-shadow: 0 0 15px orange;
    text-shadow: 0 0 15px orange;
  }
  ul li:nth-child(2):hover{
    color: orange;
    box-shadow: 0 0 15px orange;
    text-shadow: 0 0 15px orange;
  }
  ul li:nth-child(3):hover{
    color: orange;
    box-shadow: 0 0 15px orange;
    text-shadow: 0 0 15px orange;
  }
  ul li:nth-child(4):hover{
    color: orange;
    box-shadow: 0 0 15px orange;
    text-shadow: 0 0 15px orange;
  }
  ul li:nth-child(5):hover{
    color: orange;
    box-shadow: 0 0 15px orange;
    text-shadow: 0 0 15px orange;
  }

  ul li:nth-child(6):hover{
    color: orange;
    box-shadow: 0 0 15px orange;
    text-shadow: 0 0 15px orange;
  }

  @media screen and (max-width:1000px){
    .sizing{
      width: 100%; 
      height: auto;
    }

    .centered {
      top: 30%;
      left: 50%;
    }
    
  }

  @media screen and (max-width:900px){
    .centered {
      top: 35%;
      left: 50%;
    }
  }

  @media screen and (max-width:800px){
    .sizing{
      width:100%; 
      height: auto;
    }
  }

  @media screen and (max-width:700px){

    .centered {
      top: 35%;
      left: 50%;
    }

    h1{
      line-height:65px
    }
  }

  @media screen and (max-width:600px){

    h1{
      font-size: 30px;
      line-height:50px
    }

    h5{
      font-size: 20px;
    }

    ul li{
      font-size: 20px;
      height: 50px;
      width: 50px;
      line-height: 50px;
    }
  }

  @media screen and (max-width:500px){

    ul li{
      font-size: 19px;
      height: 36px;
      width: 36px;
      line-height: 37px;
      margin: 0 10px;
    }
  }

  @media screen and (max-width:400px){

    h1{
      line-height: 40px;
    }

    ul li{
      font-size: 21px;
      height: 38px;
      width: 38px;
      line-height: 38px;
      margin: 0 7px;
    }
  }

  @media screen and (max-width:350px){
    h1{
      font-size:20px;
      line-height: 30px;

    }

    h5{
      font-size:15px;
    }

    ul li{
      font-size: 13px;
      height: 30px;
      width: 30px;
      line-height: 31px;
      margin: 0 6px;
    }
  }

  @media screen and (max-width:300px){

    h1{
      font-size:12px;
      line-height: 17px;
      letter-spacing: 5px;

    }

    h5{
      font-size:8px;
    }
  }

  @media screen and (max-width:250px){
    ul li{
      font-size: 20px;
      height: 19px;
      width: 19px;
      line-height: 21px;
      margin: 0 6px;
    }
  }

  @media screen and (max-width:200px){

    h1{
      font-size: 12px;
      letter-spacing: 5px ;
      line-height:15px;

    }

    ul li{
      font-size: 15px;
      height: 12px;
      width: 12px;
      line-height: 16px;
      margin: 0 5px;
    }
  }

  @media screen and (max-width:100px){

  }

  